<!-- <p>schedule-details works!</p> -->

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FullName</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Area</th>
        <th>Pincode</th>
        <th>Pick Up Day</th>
        <th>Time</th>
        <th>default</th>
        <th>default</th>
        <th>default</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of schedules">
      <td>{{s.id}}</td>
      <td>{{s.fullName}}</td>
      <td>{{s.mobileNumber}}</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
      <td>eerty</td>
    </tr>
</tbody>
</table>