<!-- Display all Details -->
<h2>All Payments</h2>
<br>
<table class="table table-stripped">
  <tr>
    <th>Payment ID</th>
    <th>Owner Name</th>
    <th>Card Number</th>
    <th>Expiry Date</th>
    <th>Security Code</th>
    <th></th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.paymentDetailId}}</td>
    <td>{{item.cardOwnerName}}</td>
    <td>{{item.cardNumber}}</td>
    <td>{{item.expirationDate}}</td>
    <td>{{item.securityCode}}</td>
    <td><button class="btn btn-info">Details</button></td>
    <td><button (click)="Edit()" class="btn btn-primary">Edit</button></td>
    <td><button (click)="Delete()" class="btn btn-warning">Delete</button></td>
  </tr>
</table>


<hr style="border: 2px solid black;">


<!-- Add Payment Details -->
<h1>Create</h1>
<form #postForm="ngForm" (ngSubmit)="onSubmitPost(postForm)">
  <div class="form-group">
      <label for="cardNumber">Card Number</label> <br>
      <input type="text" name="cardNumber" ngModel>
  </div>
  <div class="form-group">
      <label for="cardOwnerName">Card Owner Name</label><br>
      <input type="text" name="cardOwnerName"  ngModel>
  </div>
  <div class="form-group">
      <label for="expirationDate">Expirty Date</label><br>
      <input type="text" name="expirationDate" ngModel>
  </div>
  <div class="form-group">
      <label for="securityCode">Security Code</label><br>
      <input type="text" name="securityCode" ngModel>
  </div>
  <div class="form-group">
      <button class="btn btn-primary my-3" type="submit">Submit</button>
  </div>
</form>
<hr style="border: 2px solid black;">


<!-- Display Details using ID -->
<h2>Details of Selected Item</h2>
<label for="paymentDetailId">Enter PaymentID:</label>
<input type="number" id="paymentDetailId" [(ngModel)]="inputItemId" name="inputItemId">
<button (click)="fetchDetails()">Fetch Details</button>

<div *ngIf="selectedItemDetails && !idNotFound;else noDetails" >
  <table class="table table-stripped">
    <tr>
      <th>Payment ID</th>
      <th>Owner Name</th>
      <th>Card Number</th>
      <th>Expiry Date</th>
      <th>Security Code</th>
    </tr>
    <tr>
      <td>{{selectedItemDetails.paymentDetailId}}</td>
      <td>{{selectedItemDetails.cardOwnerName}}</td>
      <td>{{selectedItemDetails.cardNumber}}</td>
      <td>{{selectedItemDetails.expirationDate}}</td>
      <td>{{selectedItemDetails.securityCode}}</td>
    </tr>
  </table>
  <!-- Add other properties as needed -->
</div>
<ng-template #noDetails>
  <p>No such ID exist</p>
</ng-template>
<hr style="border: 2px solid black;">

<!-- Delete using ID -->
<label for="deleteItemId">Enter Payment Id To Delete</label>
<input type="number" id="deleteItemId" [(ngModel)]="deleteItemId" name="deleteItemId">
<button (click)="deleteItem()">Delete</button>


  <!-- <input type="text" style="width: 600px;margin-right: 100px;margin-left: 400px;">
  <button (click)="Search()" class="btn btn-info">Search</button> -->


  